<div class="poster" id="<%= movie.id %>">
	<div class="poster-img">
		<img src="https://image.tmdb.org/t/p/original/<%= movie.poster_path %>" alt="">
	</div>
	<div class="poster-title">
		<p><%= movie.title %></p>
	</div>
	<div class="overlay">
		<form action="collection/<%= to %>/<%= movie.id %>" method="POST">
			<div class="btn">
				<button type="submit"><%= btnMsg %></button>
			</div>
		</form>
	</div>
</div>
